{{log 'CMT-template' this}}
<form>
    <table class="custom-ruler-table">
        <tr>
            <th>Active?</th>
            <th>Label</th>
            <th>Equation</th>
            <th>Lower Bound</th>
            <th>Upper Bound</th>
            {{#if isGM}}<th>Share?</th>{{/if}}
            <th class="custom-ruler-delete">Delete?</th>
        </tr>
        {{#each customRulers}}
        <tr>
            <th><input type="checkbox" name="{{id}}.active" {{#if active}}checked{{/if}} data-action="activate"><br></th>
            <th><input type="text" value="{{label}}" name="{{id}}.label" data-dtype="String" {{#if protected}}disabled{{/if}} /></th>
            <th><input type="text" value="{{equation}}" name="{{id}}.equation" data-dtype="String" {{#if protected}}disabled{{/if}} /></th>
            <th><input type="Number" value="{{lowerBound}}" name="{{id}}.lowerBound" data-dtype="Number" {{#if protected}}disabled{{/if}} /></th>
            <th><input type="Number" value="{{upperBound}}" name="{{id}}.upperBound" data-dtype="Number" {{#if protected}}disabled{{/if}} /></th>
            <th>{{#if ../isGM}}<input type="checkbox" name="{{id}}.shared" {{#if shared}}checked{{/if}} data-action="share"><br>{{/if}}</th>
            <th class="custom-ruler-delete">
                {{#unless protected}}
                <button type="button" title="{{localize "CUSTOM-RULER.delete-custom-ruler"}}" data-action="delete" class="flex0 custom-ruler-icon-button" >
                    <i class="fas fa-trash"></i>
                </button>
                {{/unless}} 
            </th>
        </tr>
        {{/each}}
    </table>

    <button type="button" class="custom-ruler-button" data-action="create">
        <i class="fas fa-plus"></i>
        {{localize "CUSTOM-RULER.add"}}
    </button>
</form>
